* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Segoe UI", sans-serif;
    }

    body {
      background: #2d2d2d;
      color: #333;
      padding: 20px;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      background: #fff;
      border-radius: 16px;
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.07);
      padding: 30px;
      text-align: center;
    }

    h1 {
      font-size: 28px;
      margin-bottom: 10px;
      color: #1a202c;
    }

    h2 {
      font-size: 18px;
      color: #e63946;
      margin-bottom: 20px;
    }

    .video-curso {
      width: 100%; 
      height: auto; 
      border-radius: 20px;
    }

    ul {
      text-align: left;
      margin: 20px 0;
    }

    ul li {
      margin-bottom: 10px;
      padding-left: 20px;
      position: relative;
    }

    ul li::before {
      content: "✔️";
      position: absolute;
      left: 0;
    }

    .button {
      display: inline-block;
      background-color: #ff0000;
      color: #fff;
      padding: 15px 30px;
      border-radius: 10px;
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
      margin-top: 20px;
      transition: background 0.3s ease;
      animation: pulsar 1.5s ease-in-out infinite;
    }

    .button:hover {
      background-color: #970700;
    }

    

    .bonus, .garantia {
      background-color: #f0f0f0;
      padding: 15px;
      margin-top: 20px;
      border-radius: 10px;
    }

    .depoimentos {
      margin-top: 30px;
      font-size: 14px;
      color: #555;
    }

    @media (max-width: 500px) {
      .container {
        padding: 20px;
      }

      h1 {
        font-size: 24px;
      }

      .button {
        width: 100%;
      }
    }

     @keyframes pulsar {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
     }
     .rodape {
      text-align: center;
      margin-top: 1%;
     }